<!DOCTYPE html>

<html>
<head>
	<title>/ascii/</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
	<div class="container">

		<div class="row">
			<div class="col-xs-12">
				<h1 class="h1 text-center">/ascii/</h1>
			</div>
		</div>


		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3">
				<form method="post">

					<div class="form-group form-group-sm">
						<label for="title1">Title</label>
						<input type="text" class="form-control input-sm" id="title1" name="title">
					</div>

				</form>

			</div>

	</div>
</body>
</html>