<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
	<title>Ascii-Chan</title>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			{{ points }}
				<h3>/ascii/</h3>
			<div class="row">

				<div class="col-md-6">
				<form method="POST" action="">
					<div class="form-group">
						<label for="title">title</label>
						<input class="form-control" name="title" id="title" type="text">
					</div>
					<div class="form-group">
						<label for="art">art</label>
						<textarea class="form-control" name="art" type="text" id="art" rows="10"></textarea>
					</div>
					<div class="form-group">
						<input class="btn btn-primary" type="submit" value="post">
					</div>
				</form>
				</div> <!-- end col-md-6 -->
				
				<div class="col-md-6">
					<img src="{{ img_url }}">
				</div>
			</div> <!-- end row 2 -->
		<hr>
		{% for art in all_art %}
		 	{{ art.lat }}&nbsp;{{ art.lon }}<br>
			{{ art.format_date }}<br>
		 	{{ art.title }}<br>
		 	<pre class="text-center">{{ art.art }}</pre><br><br>
		 {% endfor %}
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
