<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
	<title>Ascii-Chan</title>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
				{% for category, message in messages %}
				<div class="alert alert-{{ category }} alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					{{ message | safe }}
				</div>	
				{% endfor %}

				{% endif %}
			{% endwith %}
			<h3>/ascii/</h3>
			<div class="row">
				<div class="col-md-6">
					<form method="POST" action="">
						{{ form.csrf_token }}
						<div class="form-group">
							{{ form.title.label(for="title", class="sr-only") }}
							{{ form.title(class="form-control", id="title", type="text", placeholder="give your artwork a title...") }}
							<span class="bg-danger">
								{% if form.title.errors %}
								{% for error in form.title.errors %}
								<div class="bg-danger">{{ error }}</div>
								{% endfor %}
								{% endif %}
							</span>
						</div>
						<div class="form-group">
							{{ form.art.label(for="art", class="sr-only") }}
							{{ form.art(class="form-control", id="art", rows="10", placeholder="paste your ascii artwork here...") }}
							<span class="error bg-danger">
								{% if form.art.errors %}
								{% for error in form.art.errors %}
								<div class="bg-danger">{{ error }}</div>
								{% endfor %}
								{% endif %}
							</span>
						</div>
						<div class="form-group">
							{{ form.submit(class="btn btn-primary") }}
						</div>
					</form>
				</div> <!-- end col-md-6 -->
			
				<div class="col-md-6">
					<img src="{{ img_url }}">
				</div>
			</div> <!-- end row 2 -->
			<hr>
			{% for art in all_art %}
			 	{{ art.lat }}&nbsp;{{ art.lon }}<br>
				{{ art.format_date }}<br>
			 	{{ art.title }}<br>
			 	<pre class="text-center">{{ art.art }}</pre><br><br>
			 {% endfor %}
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
