<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<nav class="navbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ url_for('hello') }}">Composite</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="{{ url_for('hello') }}">Home</a></li>
				<li><a href="{{ url_for('ajax') }}">Ajax Example</a></li>
				<li><a href="{{ url_for('pup_api') }}">Puppy API Example</a></li>
			</ul>
		</div>
	</nav>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
				{% for category, message in messages %}
				<div class="alert alert-{{ category }} alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					{{ message | safe }}
				</div>	
				{% endfor %}

				{% endif %}
			{% endwith %}
		</div>
	</div>
</div><!-- end container -->
{% block content %}{% endblock %}
<div id="wrap"></div>
<footer>
	<div class="container">
		<p class="text-center">Copyright &#169; Composite.com 2016</p>
	</div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
