<!doctype html>
<html>
<head>
<title>birthday</title>
	<link rel="stylesheet" type="text/css" href="static/styles1.css">
</head>
<body>

<div class="grid">
	<div class="row"><div class="col-12 headers"></div></div>
	<div class="row">
		<div class="col-3"></div>
		<div class="col-6 middle">
	
	<h2>What is your birthday?</h2>
	
{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul class="Flashes">
		{% for message in messages %}
		<li>{{ message }}</li>
	</ul>
		{% endfor %}
	{% endif %}
{% endwith %}

<form action="/birthday" method="POST">
	<br>
	<p>Month
	<input type="text" name="month" value="{{ month }}" placeholder="enter a valid month"></p>
	<p>Day
	<input type="text" name="day" value="{{ day }}" placeholder="enter a valid day"></p>
	<p>Year
	<input type="text" name="year" value="{{ year }}" placeholder="enter a valid year"></p>
	<br>
	<br>
	<input type="submit" value="Validate">
</form>
		</div>
		<div class="col-3"></div>
	</div>
</div>
</body>
</html>