<!doctype html>
<html>
<head>
<title>birthday</title>
</head>
<body>
	
<form action="/birthday" method="POST">
	What is your birthday?
	<br>
	<label>Month
	<input type="text" name="month" value="{{ month }}">
	</label>
	<label>Day
	<input type="text" name="day" value="{{ day }}">
	</label>
	<label>Year
	<input type="text" name="year" value="{{ year }}">
	</label>
	<br>
	<br>
	<input type="submit">
</form>
{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul class="Flashes">
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	{% endif %}
{% endwith %}
</body>
</html>