<!doctype html>
<html>
<head>
	<title>lesson 2</title>
	<link rel="stylesheet" href="/static/styles.css" type="text/css">

</head>


<body>
	


<div class="grid">	
	<div class='row'>

	</div>
	<div class="col-12 toprow"><div id="logo">Hunch</div></div><div class="horizontalRule"></div>

	<div class="row">
		<div class="col-2"></div>


		<div class="col-9 sun">

		<div class="form-box">

				<div class="row topform">
					<div class="col-9">
						<h3 id="cre">Create a New Account</h3>
						<p id="small">Come join the Hunch community! Let's set up your account.  Already have one?<a href="#"> Sign In here.</a></p>
					</div>
				</div>

		<div class="row">
			<div class="col-3 ">
				<p id="small">Why be old fashioned? just sign in with:</p>
				<div class='social'><img src="http://placehold.it/170x50"></div>
				<div class="social"><img src="http://placehold.it/170x50"></div>
				
			</div>
			<div class="col-6 signed">
				<form >
					<input type="text" name="name" value="" placeholder="username">
					<input type="text" name="email" value="" placeholder="email">
					<input type="password" name="pw" value="" placeholder="password">
					<p id="tos">By submitting this form you agree to Hunch's <a href="#">Terms of Service</a></p>
				
			</div>

		</div>

		<div class="row">
			<div class="col-3"></div>
			<div class="col-6 signedb">
					<input class="myButton" type="submit" value="Join Hunch!">
				</form>
			</div>
		</div>
		<!-- <div class="row">
			<div class="col-12"></div>
		</div> -->

		</div>


		</div>

	<div class="col-1"></div>



	</div>



</div>

</body>
<htmml>