<!doctype html>
<html>
<head>
	<title>lesson 2</title>
	<link rel="stylesheet" href="/static/styles.css" type="text/css">

</head>


<body>


<div class="grid">	
	<div class='row'>

	</div>
	<div class="col-12 toprow"><div id="logo">Hunch</div></div><div class="horizontalRule"></div>

	<div class="row">
		<div class="col-2">Not the top</div>


		<div class="col-9 sun">

		<div class="form-box">

				<div class="row topform">
					<div class="col-9">
						<h3 id="cre">Create a New Account</h3>
						<p id="small">Come join the Hunch community! Let's set up your account.  Already have one?<a href="#">Sign In here.</a></p>
					</div>
				</div>

		<div class="row">
			<div class="col-3"></div>
			<div class="col-6">
				<form >
					<input type="text" name="q" placeholder="username">
					<input type="text" name="" placeholder="email">
					<input type="password" name="pw" placeholder="password">
					<input type="submit">
				</form>
			</div>

		</div>

		</div>


		</div>

	<div class="col-1"></div>



	</div>



</div>

</body>
<htmml>