{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
		<form method="post">
			<div class="form-group">
				<label for="subject1">Subject</label>
				<input type="text" id="subject1" class="form-control" name="subject">
			</div>

			<div clss="form-group">
				<label for="blog1">Blog Entry</label>
				<textarea type="text" id="blog1" class="form-control" rows="8" name="blog"></textarea>
			</div>

			<button class="btn btn-default" type="submit" value="Submit">Submit</button>
			{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
			{% for category, message in messages %}
			<div class="alert alert-{{ category }} alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{{ message }}
			</div>	
			{% endfor %}

			{% endif %}
			{% endwith %}
		</form>
	</div>
</div>

{% endblock %}